{% extends "base.html" %}

{% block title %}Movies Library Metadata Explorer - About {% endblock title %}

{% block content %}
    <br/>
    <h1>Music Library Metadata Explorer</h1>
    <p class="body about-information"><br>
        Objective: Make a very simple Movies Library Metadata Explorer. Its purpose is to be used as a Django
        example.<br>
        Program: movies_lib_explorer<br>
        Version: 0.0.1<br>
        Author: Joan A. Pinol<br>
        Author_nickname: japinol<br>
        Author_gitHub: japinol7<br>
        Author_twitter: @japinol<br>
        Python requires: 3.9 or greater.<br>
    </p>
{% endblock content %}
