{% extends "base.html" %}

{% block title %}MLME - About {% endblock title %}

{% block content %}
    <h1>Movies Library Metadata Explorer</h1>
    <p class="body about-information"><br>
        Objective: <br> Make a very simple Movies Library Metadata Explorer. <br>
        Its purpose is to be used as a Django example. <br>
        It includes a REST API for the catalog models using Django REST framework.
        <br> <br>
        More info here:
        <a href = "https://github.com/japinol7/movies_lib_explorer">🚀 Repository on GitHub</a>
        <br> <br>
        Program: movies_lib_explorer<br>
        Version: 0.0.2<br>
        Author: Joan A. Pinol<br>
        Author_nickname: japinol<br>
        Author_gitHub: japinol7<br>
        Author_twitter: @japinol<br>
        Python requires: 3.10 or greater.<br>
    </p>
{% endblock content %}
