{% extends "base.html" %}

{% block content %}
    <br/>
    <h3>Movies Lib Explorer</h3>
    <p>
        Movies Library Metadata Explorer.
    </p>
    <p>
        <a class="btn btn-dark" href="{% url 'movie_list' %}">Movies</a>
        <a class="btn btn-dark" href="{% url 'director_list' %}">Directors</a>
        <a class="btn btn-dark" href="{% url 'actor_list' %}">Actors</a>
        <a class="btn btn-dark" href="{% url 'load_data' %}">Load Initial Data</a>
        <a class="btn btn-dark" href="{% url 'about' %}">About</a>
    </p>

    <br/> <br/> <br/>
    <p>
        Enjoy this humble selection of movies.
    </p>
{% endblock content %}
