{% extends "base.html" %}
{% block title %}MLME - Actor - {{ actor.first_name }} {{ actor.last_name }}{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <p>
            <a class="btn btn-dark" href="{% url 'catalog:actor_edit_form' actor_id=actor.id %}">Edit</a>
            <a class="btn btn-dark" id="id_actor_upload"
               href="{% url 'catalog:upload_actor_photo' actor.id %}">Upload Actor Photo</a>
        <p>
    {% endif %}

    <div>Actor</div>
    <h2>
        {{ actor.first_name }} {{ actor.last_name }}
    </h2>

    {% if actor.picture %}
        <p>
        <a href="{{ actor.picture.url }}" target="_self">
           <img src="{{ actor.picture.url }}" style="max-height:250px">
        </a>
        <p>
    {% else %}
        <br>
    {% endif %}

    <h3>Movies</h3>
    <p>
        {% for movie in actor.movie_set.all|dictsort:"year" %}
            <a href="{% url 'catalog:movie' movie_id=movie.id %}">{{ movie.title }}</a>
            {{ movie.year }}
            <br>

        {% empty %}
            <i>No movies available</i>
        {% endfor %}
    </p>

    <!-- Form section for TMDB data connector -->
    <div class="container tmdb-data actor">
      <br>
      <hr style="border-width:5px;border-color:dodgerblue">
      <div class="row click-to-add justify-content-left">
        <div class="col-md-10">
          {% include "catalog/partials/tmdb_actor_link.html" %}
        </div>
      </div>
      <hr style="border-width:5px;border-color:dodgerblue">
      <br> <br>
    </div>

{% endblock content %}
