{% extends "base.html" %}
{% block title %}Movies Library Metadata Explorer - {{ actor.last_name }}{% endblock %}

{% block content %}
    <br/>
    <h2>
        Actor: {{ actor.first_name }} {{ actor.last_name }}
    </h2>
    <p>
        {% if actor.picture %}
            <img src="{{ actor.picture.url }}" style="max-height:250px">
        {% elif not actor.picture and request.user.is_authenticated %}
            <a class="btn btn-sm btn-dark" id="id_actor_upload"
               href="{% url 'upload_actor_photo' actor.id %}">Upload Actor Photo</a>
        {% endif %}

        <br/>
    </p>

    <h3>Movies</h3>
    <p>
        {% for movie in actor.movie_set.all|dictsort:"year" %}
            <a href="{% url 'movie' movie_id=movie.id %}">{{ movie.title }}</a>
            {{ movie.year }}
            <br/>

        {% empty %}
            <i>No movies available</i>
        {% endfor %}
    </p>

{% endblock content %}
