{% extends "base.html" %}
{% block title %}Movies Library Metadata Explorer - {{ director.last_name }}{% endblock %}

{% block content %}
    <br/>
    <h2>
        Director: {{ director.first_name }} {{ director.last_name }}
    </h2>
    <p>
        {% if director.picture %}
            <img src="{{ director.picture.url }}" style="max-height:250px">
        {% elif not director.picture and request.user.is_authenticated %}
            <a class="btn btn-sm btn-dark" id="id_director_upload"
               href="{% url 'catalog:upload_director_photo' director.id %}">Upload Director Photo</a>
        {% endif %}

        <br/>
    </p>

    <h3>Movies</h3>
    <p>
        {% for movie in director.movie_set.all|dictsort:"year" %}
            <a href="{% url 'catalog:movie' movie_id=movie.id %}">{{ movie.title }}</a>
            {{ movie.year }}
            <br/>

        {% empty %}
            <i>No movies available</i>
        {% endfor %}
    </p>

{% endblock content %}
