{% extends "base.html" %}

{% block content %}
    <br/>
    <h3>Directors</h3>

    <p>
        {% for director in directors %}
            <b><a href="{% url 'catalog:director' director_id=director.id %}"
            >{% if director.first_name %}{{ director.first_name }}{% endif %}
                {% if director.last_name %} {{ director.last_name }}{% endif %}
            </a></b>
            <br/>

        {% empty %}
            <i>There are no directors in the database</i>
        {% endfor %}

    </p>
{% endblock content %}
