{% extends "base.html" %}
{% block title %}MLME - Director - {{ director.first_name }} {{ director.last_name }}{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <p>
            <a class="btn btn-dark" href="{% url 'catalog:director_edit_form' director_id=director.id %}">Edit</a>
            <a class="btn btn-dark" id="id_director_upload"
               href="{% url 'catalog:upload_director_photo' director.id %}">Upload Director Photo</a>
        <p>
    {% endif %}

    <div>Director</div>
    <h2>
        {{ director.first_name }} {{ director.last_name }}
    </h2>

    {% if director.picture %}
        <p>
        <img src="{{ director.picture.url }}" style="max-height:250px">
        <p>
    {% else %}
        <br>
    {% endif %}
    
    <h3>Movies</h3>
    <p>
        {% for movie in director.movie_set.all|dictsort:"year" %}
            <a href="{% url 'catalog:movie' movie_id=movie.id %}">{{ movie.title }}</a>
            {{ movie.year }}
            <br>

        {% empty %}
            <i>No movies available</i>
        {% endfor %}
    </p>

{% endblock content %}
