{% extends "home/base.html" %}

{% block title %}Movies Library Metadata Explorer - Sample {% endblock title %}

{% block content %}
    <br/>
    <h3>Movies with picture</h3>
    <p>
        {% for movie in movies %}
            {% if movie.picture %}
                <img src="{{ movie.picture.url }}" style="max-height:400px">
            {% elif not movie.picture and request.user.is_authenticated %}
                <a class="btn btn-sm btn-dark" id="id_movie_upload"
                   href="{% url 'upload_movie_photo' movie.id %}">Upload Movie Photo</a>
            {% endif %}
            <br/>
            <b><a href="{% url 'movie' movie_id=movie.id %}">{{ movie.title }}</a></b>;
            {{ movie.year }};
            {% if movie.director.first_name %}{{ movie.director.first_name }}{% endif %}
            {% if movie.director.last_name %} {{ movie.director.last_name }}{% endif %}
            <br/> <br/>

        {% empty %}
            <i>There are no movies with picture in the database.</i>
        {% endfor %}
    </p>
{% endblock content %}
