{% extends "home/base.html" %}

{% block title %}Movies Library Metadata Explorer - Sample {% endblock title %}

{% block content %}
    <br/>
    <h3>Movies with image</h3>
    <p>
        {% for movie in movies %}
            <b><a href="{% url 'movie' movie_id=movie.id %}">{{ movie.title }}</a></b>;
            {{ movie.year }};
            {% if movie.director.first_name %}{{ movie.director.first_name }}{% endif %}
            {% if movie.director.last_name %} {{ movie.director.last_name }}{% endif %}
            <br/>

        {% empty %}
            <i>There are no movies in the database.</i>
        {% endfor %}
    </p>
{% endblock content %}
