{% extends "base.html" %}
{% block title %}Movies Lib Explorer - {{ movie.title }}{% endblock %}

{% block content %}
    {#Movie: #}
    <br/>
    <h2>{{ movie.title }}</h2>
    <br/>

    <h5>Director</h5>
    <p>
        <a href="{% url 'director' director_id=movie.director_id %}">
            {{ movie.director.first_name }} {{ movie.director.last_name }}
        </a>
    </p>

    <h5>Year</h5>
    <p>
        {{ movie.year }}
    </p>

    <h5>Runtime</h5>
    <p>
        {{ movie.runtime }} min.
    </p>

    <h5>Cast</h5>
    <p>
        {{ movie.cast }}
    </p>

    <h5>Country</h5>
    <p>
        {{ movie.country }}
    </p>

    <h5>Original title</h5>
    <p>
        {{ movie.title_original }}
    </p>

    <h5>Language</h5>
    <p>
        {{ movie.language }}
    </p>

    <p>
        {% if movie.picture %}
            <img src="{{ movie.picture.url }}" style="max-height:750px">
        {% elif not movie.picture and request.user.is_authenticated %}
            <a class="btn btn-sm btn-dark" id="id_movie_upload"
               href="{% url 'upload_movie_photo' movie.id %}">Upload Movie Photo</a>
        {% endif %}

        <br/>
    </p>

    <h5>Genres</h5>
    <p>
        {{ movie.genres }}
    </p>

    <h5>Writer</h5>
    <p>
        {{ movie.writer }}
    </p>

    <h5>Producer</h5>
    <p>
        {{ movie.producer }}
    </p>

    <h5>Cinematography</h5>
    <p>
        {{ movie.cinematography }}
    </p>

    <h5>Production company</h5>
    <p>
        {{ movie.production_company }}
    </p>

    <h5>Note</h5>
    <p>
        {{ movie.note }}
    </p>

    <h5>Description</h5>
    <p>
        {{ movie.description }}
    </p>

    <div class="row">
        <div class="col">
            <h5>Movie reviews</h5>
        </div>
        <div class="col text-right">
            <a class="btn btn-dark" href="{% url 'review_movie' movie.id %}">Review</a>
        </div>
    </div>

    {% for review in movie.review_set.all %}
        <div class="card">
            <div class="card-body {% cycle '' 'bg-light' %}">
                <h5 class="card-title">{{ review.user.username }} rating {{ review.rating }}/5</h5>
                <br/>
                <p class="card-text">{{ review.text }}</p>
            </div>
        </div>
        <br/>
    {% empty %}
        <div class="alert alert-secondary">
            No reviews yet!
        </div>
    {% endfor %}

{% endblock content %}
