{% extends "home/base.html" %}

{% block title %}MLME - Movie list by decade{% endblock title %}

{% block content %}
    <p>
        <a class="btn btn-dark" href="{% url 'catalog:movie_list' %}">Movies</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_by_year' %}">By Year</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_by_genre' %}">By Genre</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_search' %}">Search</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_with_picture_list' %}">Movies with picture</a>
    </p>
    <h3>Movies by Decade</h3>
    <p>
    {% for decade, movies in decades.items %}
        <h4>
            {{ decade }}
        </h4>
        {% for decade, movie in movies %}
            <b><a href="{% url 'catalog:movie' movie_id=movie.id %}">{{ movie.title }}</a></b>;
            {{ movie.year }};
            {% if movie.director.first_name %}{{ movie.director.first_name }}{% endif %}
            {% if movie.director.last_name %} {{ movie.director.last_name }}{% endif %}
            <br>
        {% endfor %}
        <br>
    {% empty %}
        <i>There are no movies in the database.</i>
    {% endfor %}
    </p>
{% endblock content %}
