{% extends "home/base.html" %}
{% load humanize %}

{% block title %}MLME - Movie list with picture {% endblock title %}

{% block content %}
    <p>
        <a class="btn btn-dark" href="{% url 'catalog:movie_list' %}">Movies</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_by_year' %}">By Year</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_by_decade' %}">By Decade</a> &nbsp;
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_by_genre' %}">By Genre</a>
        <a class="btn btn-dark" href="{% url 'catalog:movie_list_search' %}">Search</a> &nbsp;
    </p>
    <h3>Movies with picture</h3>
    <br>
    <p>
    <div class="grid-wrapper">
        {% include 'catalog/partials/movie_with_picture_list_results.html' %}
    </div>
    </p>
{% endblock content %}
