{% extends "base.html" %}
{% block title %}MLME - Movie - {{ movie.title }} - {{ movie.year }}{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <p>
            <a class="btn btn-dark" href="{% url 'catalog:movie_edit_form' movie_id=movie.id %}">Edit</a>
            <a class="btn btn-dark" id="id_movie_upload"
               href="{% url 'catalog:upload_movie_photo' movie.id %}">Upload Movie Photo</a>
        <p>
    {% endif %}

    <div>Movie title [year]</div>
    <h2>{{ movie.title }} [{{ movie.year }}]</h2> <br>

    <h5>Director</h5>
    <p>
        <a href="{% url 'catalog:director' director_id=movie.director_id %}">
            {{ movie.director.first_name }} {{ movie.director.last_name }}
        </a>
    </p>

    <h5>Runtime</h5>
    <p>
        {{ movie.runtime }} min.
    </p>

    <h5>Cast</h5>
    <p>
        {{ movie.cast }}
    </p>

    <h5>Cast links</h5>
    <p>
        {% for actor in actors.all %}
            <a href="{% url 'catalog:actor' actor_id=actor.id %}"
            >{{ actor.first_name }} {{ actor.last_name }}</a>,
        {% empty %}
            <i>No actor set</i>
        {% endfor %}
    </p>

    <h5>Country</h5>
    <p>
        {{ movie.country }}
    </p>

    <h5>Original title</h5>
    <p>
        {{ movie.title_original }}
    </p>

    <h5>Language</h5>
    <p>
        {{ movie.language }}
    </p>

    {% if movie.picture %}
        <p>
        <img src="{{ movie.picture.url }}" style="max-height:750px">
        <p>
    {% endif %}

    <h5>Genres</h5>
    <p>
        {{ movie.genres }}
    </p>

    <h5>Writer</h5>
    <p>
        {{ movie.writer }}
    </p>

    <h5>Producer</h5>
    <p>
        {{ movie.producer }}
    </p>

    <h5>Cinematography</h5>
    <p>
        {{ movie.cinematography }}
    </p>

    <h5>Production company</h5>
    <p>
        {{ movie.production_company }}
    </p>

    <h5>Note</h5>
    <p>
        {{ movie.note }}
    </p>

    <h5>Description</h5>
    <p>
        {{ movie.description }}
    </p>

    <div class="row">
        <div class="col">
            <h5>Movie reviews</h5>
        </div>
        <div class="col text-right">
            <a class="btn btn-dark" href="{% url 'review:review_movie' movie.id %}">Review</a>
        </div>
    </div>

    {% for review in movie.review_set.all %}
        <div class="card">
            <div class="card-body {% cycle '' 'bg-light' %}">
                <h5 class="card-title">{{ review.user.username }} rating {{ review.rating }}/5</h5>
                <br>
                <p class="card-text">{{ review.text }}</p>
            </div>
        </div>
        <br>
    {% empty %}
        <div class="alert alert-secondary">
            No reviews yet!
        </div>
    {% endfor %}

{% endblock content %}
