{% extends "base.html" %}
{% block title %}MLME - Upload photo - {{ movie.title }} {{ movie.year }}{% endblock %}

{% block content %}
    <h2>Upload Photo for movie of year {{ movie.year }}: <br>
        {{ movie.title }}</h2>

    {% if form.errors %}
        <div class="alert alert-danger">Correct any errors before continuing.</div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_movie_photo">Choose File</label>
            <input type="file" class="form-control-file" name="movie_photo"
                   id="id_movie_photo">
        </div>

        <button class="btn btn-dark" type="submit">Save</button>
        <a class="btn btn-dark" href="{% url 'catalog:movie' movie_id=movie.id %}">Cancel</a>
    </form>

{% endblock content %}
