{% extends "base.html" %}
{% block title %}MLME - Upload photo - {{ director.last_name }}{% endblock %}

{% block content %}
    <h2>Upload Photo for director: <br>
        {{ director.first_name }} {{ director.last_name }}</h2>

    {% if form.errors %}
        <div class="alert alert-danger">Correct any errors before continuing.</div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_director_photo">Choose File</label>
            <input type="file" class="form-control-file" name="director_photo"
                   id="id_director_photo">
        </div>

        <button class="btn btn-dark" type="submit">Save</button>
        <a class="btn btn-dark" href="{% url 'catalog:director' director_id=director.id %}">Cancel</a>
</form>

{% endblock content %}
